input {
    width: 100%;
    padding:10px;
    margin: 8px;
    margin-bottom: 0px;
}

.search-form {
    max-width:400px;
    margin:50px auto;
}

/*input.search {*/
    /*margin: 0;*/
    /*text-align: center;*/
    /*outline:0;*/
    /*border: 10px solid #F7F7F7;*/
    /*width: 120%;*/
    /*left: -10%;*/
    /*position: relative;*/
    /*top: 10px;*/
    /*z-index: 2;*/
    /*border-radius: 5px;*/
    /*font-size: 40px;*/
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);*/
/*}*/

@media(max-width:414px) {
    .search-form {
        max-width:250px;
        margin:20px auto;
    }

    input.search {
        border: 4px solid #F7F7F7;
        width: 110%;
        left: -4%;
        position: relative;
        top: 4px;
        z-index: 2;
        border-radius: 5px;
        font-size: 16px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
    }

    input {
        padding: 8px;
    }
}

@media(max-width:320px) {
    .search-form {
        max-width:250px;
        margin:20px auto;
    }

    input.search {
        border: 4px solid #F7F7F7;
        width: 110%;
        left: -4%;
        top: 4px;
        font-size: 16px;
    }

    input {
        padding: 8px;
    }
}



span.population {
    font-size: 15px;
}


.details {
    text-align: center;
    font-size: 15px;
}

.hl {
    background:#ffc600;
}

.love {
    text-align: center;
}

a {
    color:black;
    /*background:rgba(0,0,0,0.1);*/
    text-decoration: none;
}

#birdFinder{
    position: absolute;
    margin-top:63px;
    /*height: 100%;*/
}

#birdImages{
    margin-top : 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
    /*position: absolute;*/
    align-content: center;
    /*margin-top : 60px;*/
}

#birdPagination{

    position: relative;
    align-content: center;
    /*margin: auto;*/
    width: 100%;
    padding-top: 15px;
}

.card{
    position: relative;
    background-color: white;
    height: 250px;
    width: 250px;
    /*padding: 10px;*/
    margin: 10px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    display: inline-block;
}

/*.card::after{*/
    /*position: absolute;*/
/*}*/

.card img{
    /*padding: 10px;*/
    width: 100%;
}
.title{
    position: absolute;
    background-color: white;
    top:200px;
    height: 50px;
    width: 230px;
    text-align: center;
}

.title span{
    text-align: center;
    font-size: 1.1em;
}



#birdImages .image-item {
    right: 0;
}

#birdImages .image-item .image-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

#birdImages .image-item .image-link .img-shadow {
    box-shadow: 5px 5px 5px #888888;
}

#birdImages .image-item .image-link .caption {
    background: rgba(232, 143, 60, 0.54);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}
#birdImages .image-item .image-link .caption:hover {
    opacity: 1;
}
#birdImages .image-item .image-link .caption .caption-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
}
#birdImages .image-item .image-link .caption .caption-content i {
    margin-top: -12px;
}
#birdImages .image-item .image-link .caption .caption-content h3,
#birdImages .image-item .image-link .caption .caption-content h4 {
    margin: 0;
}
#birdImages * {
    z-index: 2;
}

.searchBar{
    height: 65px !important;
    background: #ffffff !important;
    position: fixed !important;
    z-index: 9 !important;
    border-bottom: 1px solid #DBDBDB !important;
    width: 100%;
}

.pagination > li > a, .pagination > li > span{
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #d35400;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    background-color: #d35400;
    border-color: #d35400;
    cursor: default;
}

input[type=text] {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    /*background-color: white;*/
    background-image: url('../images/searchicon.png');
    background-position: 12px 12px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input:focus {
    outline: none !important;
    border:1px solid #d35400;
    box-shadow: 0 0 10px #ccc;
    border-radius: 25px;
}

