footer{padding-top:15px;}

footer p{
    font-size:14px;
    color:#fff;
}

footer i:hover{color: #cecece;}

footer a {
    color: #fff;
    font-weight: bold;
}

/* Social Media icons */

footer .social-media i{font-size:25px;}

footer .social-media {
    margin-top:0px;
    text-align:left;
}

footer .social-media li{display:inline-block;}


footer .padding-left-2{
    padding-left: 2px;
}
/* Go to top icon */

.back-to-top {
    display: none;
    position: fixed;
    bottom: 57px;
    right: 12px;
    z-index:10;
}

.back-to-top i {
    display: block;
    width: 44px;
    height: 44px;
    line-height: 40px;
    font-size:20px;
    color: #fff;
    border-radius: 0px;
    text-align: center;
    background-color: #333;
    transition: all 0.2s ease-in-out;
}

footer span{
    font-weight: bold;
    font-size: 1.2em;
}