section {
    text-align: center;
    background: transparent;
    color: grey;
    height: 100%;
    width: 100%;
    position: absolute;
}

#landingPage{
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
}

section .container {
    padding-top: 3%;
    padding-bottom: 1%;
}

section .intro-text .name {
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3em;
}

@media(max-width:1024px){
    section{
        /*height: 640px;*/
    }

    section .intro-text .name {
        font-weight: 560;
        font-size: 2.4em;
    }

}

@media(max-width:768px) {
    section{
        /*height: 480px;*/
    }

    section .intro-text .name {
        font-weight: 420;
        font-size: 1.8em;
    }
}

@media(max-width:414px) {
    section{
        /*height: 320px;*/
    }

    section .intro-text .name {
        font-weight: 224;
        font-size: 1.8em;
    }

    section .container {
        padding-top: 25%;
        padding-bottom: 4%;
    }
}



#images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 450px;
    align-items: center;
    position: relative;
    background-color: transparent;
}


.boxshadow {
    /*position: relative;*/
    -moz-box-shadow: 2px 4px 8px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
    padding: 10px;
    margin: 10px;
    background: white;
}

@media(max-width:1024px){
    #images{
        height: 400px;
    }
    .boxshadow{
        padding: 8px;
        margin: 8px;
    }
}

@media(max-width:768px) {
    #images{
        height: 300px;
    }
    .boxshadow{
        padding: 6px;
        margin: 6px;
    }
}

@media(max-width:414px) {
    #images{
        height: 160px;
    }
    .boxshadow{
        padding: 3.2px;
        margin: 3.2px;
    }
}

/* Make the image fit the box */
.boxshadow img {
    width: 100%;
    border: 1px solid #8a4419;
    border-style: inset;
}

.boxshadow::after {
    content: '';
    position: absolute;
    z-index: -1; /* hide shadow behind image */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    width: 70%;
    left: 15%; /* one half of the remaining 30% */
    height: 100px;
    bottom: 0;
}

#birdimg1{
    position: absolute;
    left: 5%;
    top: 10%;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
}

#birdimg2{
    position: absolute;
    left: 27%;
    top: 10%;
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
    z-index: 2;
}

#birdimg3{
    position: absolute;
    left: 50%;
    top: 10%;
    -ms-transform: rotate(-deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
    transform: rotate(-15deg);
    z-index: 1;

}

#birdimg4{
    position: absolute;
    left: 70%;
    top: 10%;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
}

#birdimg5{
    position: absolute;
    left: 15%;
    top: 44%;
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
}

#birdimg6{
    position: absolute;
    left: 37%;
    top: 44%;
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
    transform: rotate(5deg);
    z-index: 3;
}

#birdimg7{
    position: absolute;
    left: 60%;
    top: 42%;
    -ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
    transform: rotate(-15deg);
}



/*#secHeader {*/
    /*background: url(http://www.nxworld.net/codepen/css-scroll-down-button/bg03.jpg) center center / cover no-repeat;*/
/*}*/

.demo a {
    position: absolute;
    bottom: 1%;
    left: 47%;
    z-index: 20;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: grey;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.demo a:hover {
    opacity: .5;
}

#secHeader a {
    padding-top: 60px;
}

#secHeader a span {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid grey;
    border-radius: 100%;
    box-sizing: border-box;
}

#secHeader a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#secHeader a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(128,128,128, .1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(128,128,128, .1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(128,128,128, .1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}