.states {
    fill: rgb(91, 153, 61);
}

.states :hover {
    fill: rgb(91, 153, 61);
}

#map {
    /*padding-top: 5%;*/
    /*margin: 5%;*/
    position: absolute;
}


#section_map{
    position: absolute;
    text-align: center;
    background: lightgray;
    color: white;
    top:100%;
    width:100%;
    height: 100%;
}

@media(max-width:1024px){
    #section_map{
        /*height: 640px;*/
    }
}

@media(max-width:768px) {
    #section_map{
        height: 480px;
    }
}

@media(max-width:414px) {
    #section_map{
        height: 280px;
    }
}