.states {
    fill: rgb(91, 153, 61);
}

.states :hover {
    fill: rgb(91, 153, 61);
}

#map {
    /*padding-top: 5%;*/
    /*margin: 5%;*/
    position: absolute;
}

section .container .intro-text{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}

#section_map{
    position: relative;
    text-align: center;
    background: lightgray;
    color: grey;
    width:100%;
    height: 100%;
}

@media(max-width:1024px){
    #section_map{
        /*height: 640px;*/
    }
}

@media(max-width:768px) {
    #section_map{
        height: 480px;
    }
}

@media(max-width:414px) {
    #section_map{
        height: 280px;
    }
}

.description{
    padding: 20px;
    text-align: justify;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    font-size: medium;
}