body{
    position: relative;
    height: 100%;
    width: 100%;
}

#root{
    position: absolute;
    height: 100%;
    width: 100%;
}

.hideElement{
    display: none;
}

section {
    text-align: center;
    background: transparent;
    color: grey;
    height: 100%;
    width: 100%;
    position: relative;
}