#privacyPolicy{
    margin-top:90px;
    background-color: #fff;
    position: absolute;
    width: 100%;
    /*height: 100%;*/
}

#privacyPolicy ul{
    padding-left: 5%;
}

#privacyPolicy ul li{
    list-style: decimal;
}