#treeFinder{
    position: absolute;
    margin-top:63px;
    /*height: 100%;*/
}

#treeImages{
    margin-top : 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
    /*position: absolute;*/
    align-content: center;
    /*margin-top : 60px;*/
}

#treePagination{

    position: relative;
    align-content: center;
    /*margin: auto;*/
    width: 100%;
    padding-top: 15px;
}

#treeImages .image-item {
    right: 0;
}

#treeImages .image-item .image-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

#treeImages .image-item .image-link .img-shadow {
    box-shadow: 5px 5px 5px #888888;
}

#treeImages .image-item .image-link .caption {
    background: rgba(232, 143, 60, 0.54);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}
#treeImages .image-item .image-link .caption:hover {
    opacity: 1;
}
#treeImages .image-item .image-link .caption .caption-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
}
#treeImages .image-item .image-link .caption .caption-content i {
    margin-top: -12px;
}
#treeImages .image-item .image-link .caption .caption-content h3,
#treeImages .image-item .image-link .caption .caption-content h4 {
    margin: 0;
}
#treeImages * {
    z-index: 2;
}