    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:23
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-barn-swallow:before { content: "\f100"; }
.flaticon-dove:before { content: "\f101"; }
.flaticon-duck:before { content: "\f102"; }
.flaticon-eagle:before { content: "\f103"; }
.flaticon-eagle-1:before { content: "\f104"; }
.flaticon-eagle-2:before { content: "\f105"; }
.flaticon-flamingo:before { content: "\f106"; }
.flaticon-goose:before { content: "\f107"; }
.flaticon-goose-1:before { content: "\f108"; }
.flaticon-hummingbird:before { content: "\f109"; }
.flaticon-hummingbird-1:before { content: "\f10a"; }
.flaticon-hummingbird-2:before { content: "\f10b"; }
.flaticon-hummingbird-3:before { content: "\f10c"; }
.flaticon-hummingbird-4:before { content: "\f10d"; }
.flaticon-orpington-chicken:before { content: "\f10e"; }
.flaticon-pigeon:before { content: "\f10f"; }
.flaticon-pigeon-1:before { content: "\f110"; }
.flaticon-pigeon-2:before { content: "\f111"; }
.flaticon-raven:before { content: "\f112"; }
.flaticon-raven-1:before { content: "\f113"; }
.flaticon-raven-2:before { content: "\f114"; }
.flaticon-red-crowned-crane:before { content: "\f115"; }
.flaticon-rooster:before { content: "\f116"; }
.flaticon-scarlet-macaw:before { content: "\f117"; }
.flaticon-sparrow:before { content: "\f118"; }
.flaticon-stork:before { content: "\f119"; }
.flaticon-stork-1:before { content: "\f11a"; }
.flaticon-swallow:before { content: "\f11b"; }
.flaticon-tree-swallow:before { content: "\f11c"; }
.flaticon-welcome-swallow:before { content: "\f11d"; }
    
    $font-Flaticon-barn-swallow: "\f100";
    $font-Flaticon-dove: "\f101";
    $font-Flaticon-duck: "\f102";
    $font-Flaticon-eagle: "\f103";
    $font-Flaticon-eagle-1: "\f104";
    $font-Flaticon-eagle-2: "\f105";
    $font-Flaticon-flamingo: "\f106";
    $font-Flaticon-goose: "\f107";
    $font-Flaticon-goose-1: "\f108";
    $font-Flaticon-hummingbird: "\f109";
    $font-Flaticon-hummingbird-1: "\f10a";
    $font-Flaticon-hummingbird-2: "\f10b";
    $font-Flaticon-hummingbird-3: "\f10c";
    $font-Flaticon-hummingbird-4: "\f10d";
    $font-Flaticon-orpington-chicken: "\f10e";
    $font-Flaticon-pigeon: "\f10f";
    $font-Flaticon-pigeon-1: "\f110";
    $font-Flaticon-pigeon-2: "\f111";
    $font-Flaticon-raven: "\f112";
    $font-Flaticon-raven-1: "\f113";
    $font-Flaticon-raven-2: "\f114";
    $font-Flaticon-red-crowned-crane: "\f115";
    $font-Flaticon-rooster: "\f116";
    $font-Flaticon-scarlet-macaw: "\f117";
    $font-Flaticon-sparrow: "\f118";
    $font-Flaticon-stork: "\f119";
    $font-Flaticon-stork-1: "\f11a";
    $font-Flaticon-swallow: "\f11b";
    $font-Flaticon-tree-swallow: "\f11c";
    $font-Flaticon-welcome-swallow: "\f11d";